@import 'mixins.scss';

// VARS
$fontColorMain: #101010;
$fontColorAlt: #F5723C;

.about {
    padding-right: 200px;
    padding-top: 170px;
    padding-bottom: 140px;
    
    background-color: #ffffff;

    @media (max-width: 1550px) {
        padding-right: 0px;
    }

    @media (max-width: 1200px) {
        padding-top: 80px;
        padding-bottom: 40px;
    }

    @media (max-width: 992px) {
        padding-top: 50px;
    }

    &-wrapper {
        display: -webkit-box;
        display: flex;

        @media (max-width: 1200px) {
            flex-wrap: wrap;
        }
    }

    &__header {
        flex-basis: 36%;

        @media (max-width: 1200px) {
            flex-basis: 100%;
        }

        h1 {
            @include fontGilroyMedium();
            font-size: 66px;
            line-height: 70px;
            color: $fontColorMain;
            letter-spacing: -1px;

            margin: 0;
            margin-left: 10px;

            @media (max-width: 1200px) {
                font-size: 60px;
                line-height: 70px;

                margin-left: 0px;
            }
        }

        &-deco {
            margin-top: 100px;
            img {
                -webkit-transform: rotate(180deg);
                        transform: rotate(180deg);
            }

            @media (max-width: 1200px) {
                display: none;
            }
        }
    }

    &__content {
        padding-top: 70px;

        position: relative;

        @media (max-width: 1200px) {
            flex-basis: 100%;
        }

        @media (max-width: 992px) {
            padding-top: 50px;
        }

        &::before {
            content: '';
            position: absolute;
            top: 20px;
            left: 0;

            width: 105%;
            height: 4px;

            background-color: $fontColorAlt;

            @media (max-width: 992px) {
                width: 100%;
            }
        }

        p {
            margin: 0;
            margin-bottom: 40px;

            @include fontGilroyMedium();
            font-size: 24px;
            line-height: 38px;
            color: $fontColorMain;

            @media (max-width: 1200px) {
                font-size: 20px;

                margin-bottom: 30px;
            }

            @media (max-width: 992px) {
                line-height: 26px;
            }

            span {
                @include fontGilroyBold();
            }
        }
    }

    
}