@import 'mixins.scss';

// VARS
$fontColorMain: #101010;
$fontColorAlt: #F5723C;

.about {
    padding-right: 200px;
    padding-top: 170px;
    padding-bottom: 140px;

    background-color: #ffffff;

    &-wrapper {
        display: flex;
    }

    &__header {
        flex-basis: 36%;
        h1 {
            @include fontGilroyMedium();
            font-size: 66px;
            line-height: 70px;
            color: $fontColorMain;
            letter-spacing: -1px;

            margin: 0;
            margin-left: 10px;
        }

        &-deco {
            margin-top: 100px;
            img {
                transform: rotate(180deg);
            }
        }
    }

    &__content {
        padding-top: 70px;

        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 20px;
            left: 0;

            width: 105%;
            height: 4px;

            background-color: $fontColorAlt;
        }

        p {
            margin: 0;
            margin-bottom: 40px;

            @include fontGilroyMedium();
            font-size: 24px;
            line-height: 38px;
            color: $fontColorMain;

            span {
                @include fontGilroyBold();
            }
        }
    }

    @media (max-width: 1550px) {
        padding-right: 0px;
    }
}