@import 'mixins.scss';

// VARS
$fontColorMain: #101010;
$fontColorAlt: #F5723C;

.burger-menu {
    position: fixed;
    z-index: 7;
    left: 0;
    top: 0;
    
    width: 0%;
    height: 100%;

    opacity: 0;

    background: url(../img/bg_marble_black.jpg) center no-repeat;
    background-position: cover;

    padding-top: 70px;

    color: #ffffff;

    -webkit-transition: all 0.3s ease;

    transition: all 0.3s ease;

    pointer-events: none;

    &-list {
        list-style: none;

        &__item {}
    }

    &-text {
        @include fontGilroyMedium();
        font-size: 45px;
        line-height: 50px;
        color: #ffffff;
        text-decoration: none;

        @media (max-width: 576px) {
            font-size: 30px;
            line-height: 36px;
        }
    }
}

.burger-menu--active {
    width: 100%;

    opacity: 1;

    pointer-events: auto;
}