@import 'mixins.scss';

// VARS
$fontColorMain: #101010;
$fontColorAlt: #F5723C;

.faq {
    background: url(../img/bg.marble_white.jpg) no-repeat;
    background-position: 0 62%;
    background-attachment: fixed;

    padding-right: 200px;
    padding-bottom: 100px;
    padding-top: 140px;

    &-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__header {
        h1 {
            margin: 0;

            @include fontGilroyMedium();
            font-size: 66px;
            line-height: 70px;
            color: $fontColorMain;

            span {
                color: $fontColorAlt;
            }
        }
    }

    &__content {
        flex-basis: 65%;

        margin-top: 25px;

        .question-list {

            &__item {
                display: block;
                box-sizing: border-box;

                background-color: #ffffff;
                box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.07);
                
                margin-bottom: 20px;

                padding-left: 40px;
                padding-right: 28px;

                cursor: pointer;

                position: relative;
                overflow: hidden;

                &-header {
                    box-sizing: border-box;
                    margin: 0;
                    padding-top: 20px;
                    padding-bottom: 20px;

                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    position: relative;
                    z-index: 2;

                    span {
                        @include fontGilroyMedium();
                        font-size: 20px;
                        line-height: 26px;
                        color: $fontColorMain;
                        font-weight: normal;
                    }

                    svg {
                        transition: all 0.5s ease;

                        path {
                            fill: #f5723c;
                            transition: all 0.5s ease;
                        }
                    }
                }

                &-content {
                    box-sizing: border-box;

                    max-height: 0;

                    overflow: hidden;

                    transition: all 0.5s ease;

                    position: relative;
                    z-index: 2;

                    p {
                        margin: 0;

                        @include fontGilroyRegular();
                        font-size: 16px;
                        line-height: 22px;
                        color: #000000;
                    }
                }

                &-background {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;

                    width: 100%;
                    height: 100%;

                    opacity: 0;

                    transition: all 0.5s ease;

                    img {
                        display: block;

                        width: 100%;
                        height: auto;
                    }
                }

                &-input {
                    display: none;
                }

                &-input:checked ~ .question-list__item-header > span,
                &-input:checked ~ .question-list__item-content > p {
                    color: #ffffff;                  
                }

                &-input:checked ~ .question-list__item-content {
                    max-height: 100vh;
                    margin-bottom: 40px;

                    padding-right: 150px;

                    transition: all 0.5s ease;
                }

                &-input:checked ~ .question-list__item-header > svg {
                    transform: rotate(180deg);
                    transition: all 0.5s ease;

                    path {
                        fill: #ffffff;
                        transition: all 0.5s ease;
                    }

                }

                &-input:checked ~ .question-list__item-background {
                    opacity: 1;
                    transition: all 0.5s ease;
                }
            }
        }
    }
}