@import 'mixins.scss';

// VARS
$fontColorMain: #101010;
$fontColorAlt: #F5723C;

.features {
    background: url(../img/bg.marble_white.jpg) bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;

    position: relative;

    &__facts {
        padding-right: 200px;

        .facts {
            position: relative;
        
            min-height: 958px;

            &-wrapper {
                display: flex;
            }
        
            &__header {
                position: relative;
                top: 235px;
                left: -90px;
                transform: rotate(-90deg);
        
                h1 {
        
                    display: inline-block;
        
                    margin: 0;
                    @include fontGilroyMedium();
                    font-size: 80px;
                    line-height: 75px;
                    color: $fontColorAlt;
        
                    span {
                        color: $fontColorMain;
                    }
                }
            }
        
            &-cards {
                position: relative;
            }

            &__card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
        
                .card__image {}
        
                .card__title {
                    @include fontGilroyMedium();
                    font-size: 55px;
                    line-height: 100%;
                }
        
                .card__subtitle {
                    @include fontGilroyRegular();
                    font-size: 22px;
                    line-height: 24px;
                }
            }
        
            .card--objects {
                position: absolute;
                top: 130px;
                left: 288px;
                z-index: 3;
        
                width: 455px;
                height: 296px;
        
                border: 2px solid #F5723C;
        
                span {
                    color: $fontColorMain;
                }
            }
        
            .card--market {
                position: absolute;
                top: 371px;
                left: 188px;
                z-index: 4;
        
                width: 400px;
                height: 245px;
        
                background: url(../img/marble_black_small.jpg) center no-repeat;
        
                color: #ffffff;
        
                h2 {
                    margin: 0;
                }
            }
        
            .card--build {
                position: absolute;
                top: 576px;
                left: 48px;
                z-index: 5;
        
                width: 400px;
                height: 270px;
        
                background-color: #ffffff;
                box-shadow: 20px 10px 65px rgba(0, 0, 0, 0.1);
        
                h2 {
                    margin: 0;
                    color: $fontColorAlt;
                }
        
                span {
                    color: $fontColorMain;
                }
            }
        
            &__deco-ring {
                position: absolute;
                top: 770px;
                left: -30px;
                z-index: 2;
        
                width: 150px;
                height: 150px;
                border: 1px solid $fontColorAlt;
                border-radius: 50%;
            }
        }

        @media (max-width: 1550px) {
            padding-right: 0px;

            .facts {
                .card--objects {
                    left: 195px;
                }

                .card--market {
                    left: 95px;
                }

                .card--build {
                    left: -45px;
                }

                &__deco-ring {
                    left: -123px;
                }
            }
        }
    }

    &__time {
        padding-top: 50px;
        padding-right: 200px;

        .time {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &__header {
                max-width: 50%;

                h1 {
                    margin: 0;
                    @include fontGilroyMedium();
                    font-size: 66px;
                    line-height: 70px;
                    color: $fontColorMain;
                }
            }
            &__content {
                max-width: 48%;

                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 18px;
                    left: 0;

                    width: 99%;
                    height: 4px;

                    background-color: $fontColorAlt;
                }

                h2 {
                    margin-top: 65px;
                    @include fontGilroyBold();
                    font-size: 22px;
                    line-height: 30px;
                    color: $fontColorMain;
                    letter-spacing: -1px;

                    a {
                        color: $fontColorAlt;
                    }
                }

                p {
                    margin: 0;
                    @include fontGilroyRegular();
                    font-size: 20px;
                    line-height: 28px;
                    color: $fontColorMain;
                    letter-spacing: -1px;
                }
            }

            &__nav-arrow {
                position: relative;
                z-index: 2;

                flex-basis: 100%;

                margin-top: 70px;

                display: flex;
                justify-content: flex-end;

                margin-right: 100px;

                a {
                    &:hover {
                        svg {
                            path {
                                fill: $fontColorAlt;
        
                                transition: all 0.5s ease;
                            }
                        }
                    }
    
                    svg {
                        path {
                            fill: transparent;
    
                            transition: all 0.5s ease;
                        }
                    }
                }
            }
        }

        @media (max-width: 1550px) {
            padding-right: 0px;
        }
    }

    &__services {
        min-height: 1270px;

        .services {
            position: relative;

            &__header {
                position: relative;
                top: 60px;
                left: -165px;
                transform: rotate(-90deg);

                display: inline-block;

                h1 {
                    display: inline-block;
                    margin: 0;


                    font-size: 80px;
                    line-height: 75px;
                    @include fontGilroyMedium();
                    color: $fontColorMain;
                    letter-spacing: -1px;

                    span {
                        color: $fontColorAlt;
                    }
                }

                @media (max-width: 1550px) {
                    transform: rotate(0deg);
                    top: 0;
                    left: 0;
                }
            }

            &__item {
                position: relative;
                
                filter: grayscale(100%);

                transition: all 0.5s ease;

                &:hover {
                    filter: grayscale(0%);
                    transition: all 0.5s ease;

                    a {
                        .service__link {
                            span {
                                margin-right: 10px;
                                transition: all 0.5s ease;
                            }

                            svg {
                                path {
                                    stroke: $fontColorAlt;
                                    fill: $fontColorAlt;
                                    transition: all 0.5s ease;
                                }
                            }
                        }
                    }
                }

                a {
                    text-decoration: none;

                    position: absolute;
                    width: 100%;
                    height: 100%;

                    .service__header {
                        border-top: 1px solid #ffffff;
                        border-bottom: 1px solid #ffffff;

                        display: inline-block;

                        h2 {
                            display: inline-block;
                            max-width: 100%;

                            margin-top: 20px;
                            margin-bottom: 20px;

                            @include fontGilroyMedium();
                            font-size: 36px;
                            line-height: 39px;
                            color: #ffffff;
                            letter-spacing: -1px;
                        }
                    }

                    .service__number {
                        span {
                            @include fontGilroyMedium();
                            font-size: 100px;
                            line-height: 117px;
                            color: #ffffff;
                        }
                    }

                    .service__link {
                        display: flex;
                        align-items: center;

                        span {
                            @include fontGilroyBold();
                            font-size: 22px;
                            line-height: 39px;
                            color: #ffffff;
                            position: relative;
                            transition: all 0.5s ease;

                            &::before {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 0;

                                height: 2px;
                                width: 100%;

                                background-color: #ffffff;
                            }
                        }

                        svg {
                            transform: rotate(-90deg);

                            margin-left: 35px;
                            path {
                                stroke: #ffffff;
                                fill: #ffffff;
                                transition: all 0.5s ease;
                            }
                        }
                    }
                }

            }

            .service--hammam {
                width: 1140px;
                min-height: 600px;
                background: url(../img/services/hammam.jpg) center no-repeat;

                position: absolute;
                top: 90px;
                right: 0;
                z-index: 2;

                a {
                    .service__header {
                        margin-top: 70px;
                        margin-left: 115px;
                    }

                    .service__number {
                        margin-top: 25px;
                        margin-left: 115px;
                    }

                    .service__link {
                        position: absolute;
                        top: 220px;
                        right: 70px;
                    }
                }

                @media (max-width: 1550px) {
                    top: 170px;
                }
            }

            .service--sauna {
                width: 1080px;
                min-height: 600px;
                background: url(../img/services/sauna.jpg) center no-repeat;
                box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.36);

                position: absolute;
                left: 0;
                top: 585px;
                z-index: 3;

                a {
                    .service__header {
                        margin-top: 90px;
                        margin-left: 175px;
                    }

                    .service__number {
                        margin-top: 255px;
                        margin-left: 175px;
                    }

                    .service__link {
                        position: absolute;
                        top: 430px;
                        right: 110px;
                    }
                }

                @media (max-width: 1550px) {
                    top: 665px;
                }
            }



            &__deco-pattern {
                position: absolute;
                top: -40px;
                left: 440px;
                z-index: 0;

                width: 380px;
                height: 350px;
                background-color: #fefefe;

                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    transform: rotate(180deg);
                }
            }
            &__deco-triangle {
                position: absolute;
                top: 835px;
                left: 1019px;
                z-index: 0;


                div {
                    position: absolute;
                    top: 270px;
                    left: -20px;
                    z-index: 1;

                    width: 160px;
                    height: 160px;
                    border-radius: 50%;

                    background-color: #ffffff;
                    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.07);
                }

                @media (max-width: 1550px) {
                    top: 915px;
                }
            }
        }

        @media (max-width: 1550px) {
            min-height: 1350px;
        }
    }
    
    &__projects {
        padding-top: 100px;
        padding-bottom: 145px;

        padding-right: 200px;

        .projects {
            display: flex;
            justify-content: space-between;

            &__header {
                max-width: 50%;

                h1 {
                    margin: 0;

                    @include fontGilroyMedium();
                    font-size: 58px;
                    line-height: 60px;
                    color: $fontColorMain;

                    span {
                        color: $fontColorAlt;
                    }
                }
            }
            &__content {
                max-width: 50%;

                padding-top: 65px;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    top: 15px;
                    left: 28px;

                    width: 86%;
                    height: 4px;
                    background-color: $fontColorAlt;
                }

                p {
                    @include fontGilroyMedium();
                    font-size: 20px;
                    line-height: 30px;
                    color: $fontColorMain;

                    display: inline-block;

                    padding-left: 90px;
                    margin: 0;
                    margin-bottom: 30px;

                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 28px;
                        transform: translateY(-50%);

                        width: 35px;
                        height: 35px;

                        background-color: $fontColorAlt;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 28px;
                        transform: translateY(-50%);

                        width: 35px;
                        height: 35px;

                        background: url(../img/projects/check.png) center no-repeat;
                    }

                    span {
                        @include fontGilroyBold();
                    }
                }
            }
        }

        @media (max-width: 1550px) {
            padding-right: 0px;
        }
    }
}
