@import 'mixins.scss';

// VARS
$fontColorMain: #101010;
$fontColorAlt: #F5723C;

.footer {
    background: url(../img/bg.marble_white.jpg) bottom no-repeat;
    background-attachment: fixed;

    padding-right: 200px;
    padding-top: 140px;
    padding-bottom: 120px;

    position: relative;

    @media (max-width: 1200px) {
        padding-right: 0px;
        padding-top: 70px;
        padding-bottom: 60px;
    }

    @media (max-width: 992px) {
        padding-top: 50px;
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width: 1200px) {
            flex-wrap: wrap;
        }
    }

    &-details {
        flex-basis: 50%;

        @media (max-width: 992px) {
            flex-basis: 100%;

            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        img {
            max-width: 340px;
            height: 76px;

            margin-bottom: 15px;

            @media (max-width: 992px) {
                flex-basis: 100%;
            }

            @media (max-width: 768px) {
                max-width: 301px;
                height: 67px;
            }
        }

        p {
            margin: 0;
            margin-left: 10px;

            @include fontGilroyRegular();
            font-size: 18px;
            line-height: 25px;
            color: $fontColorMain;

            @media (max-width: 992px) {
                margin: 0;

                flex-basis: 100%;

                text-align: center;
            }

            @media (max-width: 768px) {
                display: none;
            }
        }
    }

    &-address {
        flex-basis: 50%;

        padding-left: 30px;
        padding-top: 15px;

        @media (max-width: 1200px) {
            padding-left: 0px;
        }

        @media (max-width: 992px) {
            flex-basis: 100%;

            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        @media (max-width: 768px) {
            justify-content: center;

            flex-wrap: wrap;
        }

        @media (max-width: 576px) {
            border-top: 2px solid #e8e8e8;
            border-bottom: 2px solid #e8e8e8;

            padding-bottom: 15px;

            margin-top: 25px;
        }

        p {
            margin: 0;

            @include fontGilroyRegular();
            font-size: 18px;
            line-height: 25px;
            color: $fontColorMain;

            @media (max-width: 992px) {
                flex-basis: 50%;
            }

            @media (max-width: 768px) {
                flex-basis: 100%;

                text-align: center;

                margin-bottom: 20px;
            }
        }

        a {
            display: inline-block;

            margin-top: 40px;

            @include fontGilroyRegular();
            font-size: 18px;
            line-height: 25px;
            color: $fontColorMain;
            text-decoration: none;

            @media (max-width: 992px) {
                flex-basis: 50%;

                margin: 0;
            }

            @media (max-width: 768px) {
                flex-basis: 100%;

                text-align: center;
            }
        }
    }

    &-contacts {
        position: absolute;

        top: 160px;
        right: 60px;

        @media (max-width: 1200px) {
            flex-basis: 100%;

            position: relative;
            top: 0;
            right: 0;

            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-top: 50px;
        }

        @media (max-width: 768px) {
            justify-content: center;
            flex-wrap: wrap;
        }

        &__phone {

            @media (max-width: 1200px) {
                flex-basis: 50%;
            }

            @media (max-width: 768px) {
                flex-basis: 100%;

                margin-bottom: 20px;
            }

            a {
                display: inline-block;
                color: $fontColorMain;
                @include fontGilroyMedium();
                font-size: 22px;
                line-height: 22px;
                text-decoration: none;

                position: relative;

                @media (max-width: 1200px) {
                    font-size: 20px;

                    padding-left: 65px;
                }

                @media (max-width: 992px) {
                    padding-left: 50px;
                }

                @media (max-width: 768px) {
                    left: 50%;
                    transform: translateX(-50%);
                }

                &::before {
                    content: '';
                    position: absolute;
    
                    top: 50%;
                    left: -75px;
                    transform: translateY(-50%);
    
                    width: 50px;
                    height: 50px;
    
                    background-color: $fontColorMain;
    
                    @media (max-width: 1200px) {
                        width: 40px;
                        height: 40px;
        
                        left: 10px;
                    }
    
                    @media (max-width: 992px) {
                        left: 0;
                    }
                }
    
                &::after {
                    content: '';
                    position: absolute;
    
                    top: 50%;
                    left: -75px;
                    transform: translateY(-50%);
    
                    width: 50px;
                    height: 50px;
    
                    background: url(../img/footer/phone_icon.png) center no-repeat;
    
                    @media (max-width: 1200px) {
                        width: 40px;
                        height: 40px;
        
                        left: 10px;
                    }
    
                    @media (max-width: 992px) {
                        left: 0;
                    }
                }

                span {
                    display: block;

                    color: #6C7072;
                    @include fontGilroyMedium();
                    font-size: 14px;
                    line-height: 16px;
    
                    @media (max-width: 1200px) {
                        font-size: 12px;
                    }
                }
            }
        }

        &__studio {
            @include fontGilroyRegular();
            font-size: 18px;
            line-height: 25px;
            color: $fontColorMain;

            position: absolute;

            top: 75px;
            left: -70px;

            @media (max-width: 1200px) {
                position: relative;
                top: 0;
                left: 0;

                flex-basis: 50%;
            }

            @media (max-width: 768px) {
                flex-basis: 100%;

                text-align: center;
            }

            span {
                display: block;
            }

            a {
                color: $fontColorAlt;
            }
        }

        &__arrow-up {
            display: none;

            @media (max-width: 768px) {
                display: block;

                transform: rotate(-90deg);

                margin-top: 50px;
                margin-bottom: 60px;
            }

            a {
                text-decoration: none;
                display: inline-flex;
                justify-content: center;
                align-items: center;

                span {
                    @include fontGilroyBold();
                    font-size: 16px;
                    line-height: 16px;
                    color: $fontColorMain;
                    text-transform: uppercase;

                    margin-right: 20px;
                }

                svg {
                    transform: scale(0.75) rotate(-90deg);
                }
            }
        }
    }
}