@import 'mixins.scss';

// VARS
$fontColorMain: #101010;
$fontColorAlt: #F5723C;

.footer {
    background: url(../img/bg.marble_white.jpg) bottom no-repeat;
    background-attachment: fixed;

    box-sizing: border-box;
    padding-right: 200px;
    padding-top: 140px;
    padding-bottom: 120px;

    position: relative;

    &-wrapper {
        display: flex;
        justify-content: space-between;
    }

    &-details {
        box-sizing: border-box;

        flex-basis: 50%;

        img {
            margin-bottom: 15px;
        }

        p {
            margin: 0;
            margin-left: 10px;

            @include fontGilroyRegular();
            font-size: 18px;
            line-height: 25px;
            color: $fontColorMain;
        }
    }

    &-address {
        box-sizing: border-box;

        flex-basis: 50%;

        padding-left: 30px;
        padding-top: 15px;

        p {
            margin: 0;

            @include fontGilroyRegular();
            font-size: 18px;
            line-height: 25px;
            color: $fontColorMain;
        }

        a {
            display: inline-block;

            margin-top: 40px;

            @include fontGilroyRegular();
            font-size: 18px;
            line-height: 25px;
            color: $fontColorMain;
            text-decoration: none;
        }
    }

    &-contacts {
        position: absolute;

        top: 160px;
        right: 60px;

        &__phone {

            &::before {
                content: '';
                position: absolute;

                top: 50%;
                left: -75px;
                transform: translateY(-25px);

                width: 50px;
                height: 50px;

                background-color: $fontColorMain;
            }

            &::after {
                content: '';
                position: absolute;

                top: 50%;
                left: -75px;
                transform: translateY(-25px);

                width: 50px;
                height: 50px;

                background: url(../img/footer/phone_icon.png) center no-repeat;
            }

            a {
                display: block;
                color: $fontColorMain;
                @include fontGilroyMedium();
                font-size: 22px;
                line-height: 22px;
                text-decoration: none;
            }

            span {
                color: #6C7072;
                @include fontGilroyMedium();
                font-size: 14px;
                line-height: 16px;
            }
        }

        &__studio {
            @include fontGilroyRegular();
            font-size: 18px;
            line-height: 25px;
            color: $fontColorMain;

            position: absolute;

            top: 75px;
            left: -70px;

            span {
                display: block;
            }

            a {
                color: $fontColorAlt;
            }
        }
    }
}