@import 'mixins.scss';

// VARS
$fontColorMain: #101010;
$fontColorAlt: #F5723C;

.guarantee {

    background: url(../img/bg.marble_white.jpg) no-repeat;
    background-position: 0 15%;
    background-attachment: fixed;

    padding-right: 200px;
    padding-top: 180px;

    @media (max-width: 1550px) {
        padding-right: 0px;
    }

    @media (max-width: 992px) {
        padding-top: 120px;
    }

    .guarantees {

        &__header {
            margin-bottom: 55px;

            @media (max-width: 992px) {
                margin-bottom: 35px;
            }

            h1 {
                margin: 0;

                @include fontGilroyMedium();
                font-size: 65px;
                line-height: 62px;

                @media (max-width: 1200px) {
                    font-size: 59px;
                }
            }
        }

        &__items {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            position: relative;

            .guarantees-card {
                position: relative;
                z-index: 2;

                width: 560px;
                min-height: 310px;

                padding-left: 55px;
                padding-top: 60px;
                margin-bottom: 40px;

                background-color: #ffffff;
                box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.1);

                cursor: pointer;

                @media (max-width: 992px) {}

                &__header {
                    display: flex;
                    align-items: center;

                    position: relative;
                    z-index: 2;

                    margin-bottom: 25px;

                    h2 {
                        margin: 0;
                        @include fontGilroyMedium();
                        font-size: 80px;
                        line-height: 94px;
                        color: $fontColorAlt;

                        margin-right: 40px;
                    }

                    span {
                        display: block;
                        @include fontGilroyBold();
                        font-size: 24px;
                        line-height: 39px;
                        color: $fontColorMain;

                        transition: all 0.5s ease;
                    }
                }

                &__content {
                    position: relative;
                    z-index: 2;

                    p {
                        margin: 0;
                        margin-left: 10px;

                        @include fontGilroyRegular();
                        font-size: 17px;
                        line-height: 24px;
                        color: $fontColorMain;

                        transition: all 0.5s ease;
                    }
                }

                &__background {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: auto;
                    z-index: 1;

                    img {
                        display: block;

                        width: 100%;
                        height: 100%;

                        opacity: 0;
                        transition: all 0.5s ease;
                    }
                }

                &__deco-line {
                    position: absolute;
                    z-index: 2;

                    top: 25px;
                    right: 10px;

                    width: 35px;
                    height: 1px;

                    transform: rotate(-45deg);

                    background-color: #000000;
                    opacity: 0.3;
                    transition: all 0.5s ease;
                }

                &:hover {

                    .guarantees-card__header {
                        span {
                            color: #ffffff;

                            transition: all 0.5s ease;
                        }
                    }

                    .guarantees-card__content {
                        p {
                            color: #ffffff;

                            transition: all 0.5s ease; 
                        }
                    }

                    .guarantees-card__background {
                        img {
                            opacity: 1;
                        }
                    }

                    .guarantees-card__deco-line {
                        top: 42px;
                        right: 2px;

                        width: 84px;
                        height: 1px;
                        background-color: $fontColorAlt;
                        opacity: 1;
                    }
                }
            }

            &-deco {
                position: absolute;
                z-index: 0;
                bottom: -52px;
                right: -92px;

                width: 184px;
                height: 184px;

                border: 1px solid $fontColorAlt;
                border-radius: 50%;
                background-color: transparent;
            }
        }
    }

    .maintenance {
        padding-top: 130px;
        padding-bottom: 120px;

        display: flex;

        @media (max-width: 992px) {
            padding-top: 150px;
            padding-bottom: 40px;
        }

        &__header {
            position: relative;

            margin-right: 40px;

            @media (max-width: 1200px) {
                display: flex;
                margin-right: 0px;
            }

            h1 {
                margin: 0;

                @include fontGilroyMedium();
                font-size: 56px;
                line-height: 62px;
                color: $fontColorMain;

                position: relative;
                z-index: 2;

                @media (max-width: 1550px) {
                    font-size: 52px;
                }
            }

            &-deco {
                position: relative;

                margin-top: 100px;
                margin-left: 10px;

                width: 180px;
                height: 180px;
                border-radius: 50%;

                background-color: #ffffff;
                box-shadow: 0px 4px 90px rgba(0, 0, 0, 0.1);

                @media (max-width: 1200px) {
                    margin-top: 0;
                    margin-left: 20px;
                }

                @media (max-width: 992px) {
                    position: absolute;

                    left: 0;
                    top: -160px;

                    margin: 0;

                    transform: scale(0.8);
                }

                img {
                    position: absolute;
                    top: -45px;
                    right: -45px;

                    width: 138px;
                    height: 130px;
                } 
            }
        }

        &__content {
            margin-left: 40px;

            padding-top: 75px;

            position: relative;

            @media (max-width: 992px) {
                margin-left: 0px;

                padding-top: 50px;

                width: 100%;
            }

            &::before {
                content: '';
                position: absolute;
                top: 25px;
                left: -2px;

                height: 4px;
                width: 105%;

                background-color: $fontColorAlt;

                @media (max-width: 992px) {
                    width: 100%;
                }
            }

            h2 {
                margin: 0;
                margin-bottom: 30px;

                @include fontGilroyBold();
                font-size: 20px;
                line-height: 26px;
                color: $fontColorMain;
                letter-spacing: -1px;

                @media (max-width: 992px) {
                    margin-bottom: 25px;
                }
            }

            p {
                margin: 0;
                margin-bottom: 25px;
                padding-left: 55px;

                @include fontGilroyRegular();
                font-size: 18px;
                line-height: 26px;
                color: $fontColorMain;

                position: relative;

                @media (max-width: 992px) {
                    margin-bottom: 20px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);

                    width: 35px;
                    height: 35px;

                    background-color: $fontColorAlt;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);

                    width: 35px;
                    height: 35px;

                    background: url(../img/projects/check.png) center no-repeat;
                }

                &:nth-child(4) {
                    margin-bottom: 45px;

                    @media (max-width: 992px) {
                        margin-bottom: 35px;
                    }
                }
            }
        }

        @media (max-width: 1200px) {
            flex-wrap: wrap;
        }
    }

    
}