@import 'mixins.scss';

// VARS
$fontColorMain: #101010;
$fontColorAlt: #F5723C;


.header {
    background: url(../img/bg.marble_white.jpg) no-repeat;
    background-position: 0 68%;
    background-attachment: fixed;

    overflow: hidden;
    position: relative;

    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 120px;

    &-top {
        display: flex;
        justify-content: center;

        margin-bottom: 180px;

        &__logo {
            text-decoration: none;
            img {
                width: 100%;
            }
        }
    }

    &-phone {
        position: absolute;
        right: 60px;
        top: 70px;

        &::before {
            content: '';
            position: absolute;

            top: 50%;
            left: -75px;
            transform: translateY(-25px);

            width: 50px;
            height: 50px;

            background: url(../img/phone_icon.png) center no-repeat;
            border: 1px solid #F5723C;
        }

        a {
            display: block;
            color: $fontColorMain;
            @include fontGilroyMedium();
            font-size: 22px;
            line-height: 22px;
            text-decoration: none;
        }

        span {
            color: #6C7072;
            @include fontGilroyMedium();
            font-size: 14px;
            line-height: 16px;
        }
    }

    &-middle {
        margin-bottom: 175px;
        
        h1 {
            margin: 0;

            position: relative;

            @include fontGilroyMedium();
            font-size: 50px;
            line-height: 73px;
            color: $fontColorMain;
            letter-spacing: -0.8px;
            
            span {
                color: $fontColorAlt;
                text-decoration: underline;

                transition: all 0.5s ease;

                cursor: pointer;

                position: relative;

                &:hover {
                    text-decoration: none;
                    color: $fontColorMain;

                    transition: all 0.5s ease;
                }
            }
        }
    }

    &-bottom {
        margin-left: 10px;

        display: inline-block;

        a {
            display: flex;
            text-decoration: none;

            &:hover {
                svg {
                    path {
                        fill: $fontColorAlt;

                        transition: all 0.5s ease;
                    }
                }
            }
    
            span {
                margin-top: 27px;
                margin-right: 35px;
    
                position: relative;
    
                @include fontGilroyBold();
                font-size: 22px;
                line-height: 39px;
                color: $fontColorMain;
                &::before {
                    content: '';
                    position: absolute;
                    top: 35px;
                    left: 0;
    
                    height: 2px;
                    width: 100%;
    
                    background-color: $fontColorAlt;
                }
            }

            svg {
                path {
                    fill: transparent;

                    transition: all 0.5s ease;
                }
            }
        }
    }
}


.hover-link--zindex {
    z-index: 8;
}



.hover-link__underlay--hammam {
    position: absolute;
    top: -20px;
    left: 293px;
    z-index: 0;

    width: 0;
    height: 118px;

    transition: all 0.5s ease;
}

.underlay-hammam--active {
    left: 160px;
    width: 266px;

    z-index: 7;

    transition: all 0.5s ease;
}

.hover-link__underlay--sauna {
    position: absolute;
    top: -30px;
    left: 505px;
    z-index: 1;

    width: 0px;
    height: 127px;

    transition: all 0.5s ease;
}

.underlay-sauna--active {
    left: 385px;
    width: 240px;

    z-index: 7;

    transition: all 0.5s ease;
}



.hover-img--hammam {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    max-height: 100vh;
    width: 100vw;

    opacity: 0;

    transition: all 0.5s ease;

    img {
        width: 100%;
        height: auto;

        object-fit: contain;
        object-position: center;
    }
}

.hover-img--sauna {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    max-height: 100vh;
    width: 100vw;

    opacity: 0;

    transition: all 0.5s ease;

    img {
        width: 100%;
        height: auto;

        object-fit: contain;
        object-position: center;
    }
}

.hover-img--active {
    z-index: 6;
    opacity: 1;

    transition: all 0.5s ease;
}



.hover__body--pleft {
    padding-left: 0;
}

.header--pleft {
    padding-left: 200px;
}


.header-phone--hover {
    z-index: 8;

    &::before {
        background: url(../img/footer/phone_icon.png) center no-repeat;
        border: 1px solid #ffffff;
    }

    a {
        color: #ffffff;
    }

    span {
        color: #ffffff;
    }
}