@import 'mixins.scss';

// VARS
$fontColorMain: #101010;
$fontColorAlt: #F5723C;


.header {
    background: url(../img/bg.marble_white.jpg) no-repeat;
    background-position: 0 68%;
    background-attachment: fixed;

    overflow: hidden;
    position: relative;

    height: 100vh;

    padding-right: 200px;
    padding-top: 50px;

    @media (max-width: 1550px) {
        padding-right: 0;
    }

    @media (max-width: 768px) {
        padding-top: 0px;
    }
    

    &-top {
        display: flex;
        justify-content: center;

        margin-bottom: 180px;

        @media (max-width: 1200px) {
            justify-content: flex-start;

            margin-bottom: 140px;
        }

        @media (max-width: 992px) {
            justify-content: center;
        }

        @media (max-width: 768px) {
            justify-content: flex-start;
            align-items: center;

            margin-left: -15px;
            margin-right: -15px;

            background-color: #ffffff;

            margin-bottom: 85px;
        }

        &__burger {
            display: none;

            width: 80px;
            height: 70px;

            @media (max-width: 768px) {
                display: block;
            }

            .burger {
                position: relative;
                z-index: 2;

                width: 80px;
                height: 70px;

                background-color: #2F2F2F;

                border: none;

                padding: 0;

                cursor: pointer;

                &::before, &::after {
                    content: '';
                    position: absolute;
                    left: 20px;

                    width: 40px;
                    height: 2px;

                    background-color: #ffffff;
                }

                &::before {
                    top: 28px;

                    transition: all 0.3s ease;
                }

                &::after {
                    top: 38px;

                    transition: all 0.3s ease;
                }
            }

            .burger--active {
                background-color: transparent;

                &::before {
                    transform: rotate(45deg);

                    top: 33px;

                    transition: all 0.3s ease;
                }

                &::after {
                    transform: rotate(-45deg);

                    top: 33px;

                    transition: all 0.3s ease;
                }
            }
        }

        &__logo {
            text-decoration: none;

            @media (max-width: 768px) {
                display: flex;
                justify-content: center;

                width: 100%;
            }

            img {
                width: 100%;

                @media (max-width: 992px) {
                    width: 90%;
                }

                @media (max-width: 768px) {
                    display: block;

                    width: 230px;
                    height: 52px;
                }
            }
        }
    }

    &-phone {
        position: absolute;
        right: 50px;
        top: 75px;

        @media (max-width: 992px) {
            display: none;
        }

        &::before {
            content: '';
            position: absolute;

            top: 50%;
            left: -75px;
            transform: translateY(-50%);

            width: 50px;
            height: 50px;

            background: url(../img/phone_icon.png) center no-repeat;
            border: 1px solid #F5723C;

            @media (max-width: 1200px) {
                width: 40px;
                height: 40px;

                left: -50px;
            }
        }

        a {
            display: block;
            color: $fontColorMain;
            @include fontGilroyMedium();
            font-size: 22px;
            line-height: 22px;
            text-decoration: none;

            @media (max-width: 1200px) {
                font-size: 20px;
            }
        }

        span {
            color: #6C7072;
            @include fontGilroyMedium();
            font-size: 14px;
            line-height: 16px;

            @media (max-width: 1200px) {
                font-size: 12px;
            }
        }
    }

    &-middle {
        margin-bottom: 175px;

        @media (max-width: 1550px) {
            margin-bottom: 100px;
        }

        @media (max-width: 768px) {
            margin-bottom: 60px;
        }
        
        h1 {
            margin: 0;

            position: relative;

            @include fontGilroyMedium();
            font-size: 48px;
            line-height: 73px;
            color: $fontColorMain;
            letter-spacing: -1px;

            @media (max-width: 1200px) {
                font-size: 42px;
                line-height: 60px;
            }

            @media (max-width: 992px) {
                font-size: 40px;
            }

            @media (max-width: 768px) {
                font-size: 30px;
                line-height: 35px;
            }
            
            span {
                color: $fontColorAlt;
                text-decoration: underline;

                transition: all 0.5s ease;

                cursor: pointer;

                position: relative;

                &:hover {
                    text-decoration: none;
                    color: $fontColorMain;

                    transition: all 0.5s ease;
                }
            }
        }
    }

    &-bottom {

        display: inline-block;

        a {
            display: flex;
            text-decoration: none;

            &:hover {
                svg {
                    path {
                        fill: $fontColorAlt;

                        transition: all 0.5s ease;
                    }
                }
            }
    
            span {
                margin-top: 27px;
                margin-right: 35px;
    
                position: relative;
    
                @include fontGilroyBold();
                font-size: 22px;
                line-height: 39px;
                color: $fontColorMain;
                &::before {
                    content: '';
                    position: absolute;
                    top: 35px;
                    left: 0;
    
                    height: 2px;
                    width: 100%;
    
                    background-color: $fontColorAlt;
                }
            }

            svg {
                path {
                    fill: transparent;

                    transition: all 0.5s ease;
                }
            }
        }
    }
}


.hover-link--zindex {
    z-index: 8;
}



.hover-link__underlay--hammam {
    position: absolute;
    top: -20px;
    left: 293px;
    z-index: 0;

    width: 0px;
    height: 118px;

    transition: all 0.5s ease;

    @media (max-width: 1200px) {
        top: -15px;
        left: 190px;

        height: 96px;
    }

    @media (max-width: 992px) {
        top: -15px;
        left: 170px;

        height: 90px;
    }

    @media (max-width: 768px) {
        left: 170px;

        height: 75px;
    }
}

.underlay-hammam--active {
    left: 140px;
    width: 266px;

    z-index: 7;

    transition: all 0.5s ease;

    @media (max-width: 1200px) {
        left: 140px;
        width: 206px;
    }

    @media (max-width: 1200px) {
        left: 135px;
        width: 190px;
    }

    @media (max-width: 768px) {
        left: 80px;

        height: 75px;
    }
}

.hover-link__underlay--sauna {
    position: absolute;
    top: -30px;
    left: 505px;
    z-index: 1;

    width: 0px;
    height: 127px;

    transition: all 0.5s ease;

    @media (max-width: 1200px) {
        left: 430px;
        top: -20px;

        height: 97px;
    }

    @media (max-width: 992px) {
        left: 410px;
        top: -20px;

        height: 90px;
    }

    @media (max-width: 768px) {
        left: 300px;

        height: 75px;
    }

    @media (max-width: 372px) {
        top: 15px;
        left: 45px;
    }
}

.underlay-sauna--active {
    left: 365px;
    width: 240px;

    z-index: 7;

    transition: all 0.5s ease;

    @media (max-width: 1200px) {
        left: 310px;
    }

    @media (max-width: 1200px) {
        left: 290px;
    }

    @media (max-width: 768px) {
        left: 180px;
    }

    @media (max-width: 372px) {
        left: -75px;
    }
}



.hover-img--hammam {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: 100vh;
    width: 100%;

    opacity: 0;

    transition: all 0.5s ease;

    overflow: hidden;

    img {
        display: block;

        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: center;
    }
}

.hover-img--sauna {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: 100vh;
    width: 100%;

    opacity: 0;

    transition: all 0.5s ease;

    overflow: hidden;

    img {
        width: 100%;
        height: 100%;

        object-fit: cover;
        object-position: center;
    }
}

.hover-img--active {
    z-index: 6;
    opacity: 1;

    transition: all 0.5s ease;
}



.hover__body--pleft {
    padding-left: 0;
}

.header--pleft {
    padding-left: 200px;

    @media (max-width: 1200px) {
        padding-left: 140px;
    }

    @media (max-width: 768px) {
        padding-left: 0px;
    }
}


.header-phone--hover {
    z-index: 8;

    &::before {
        background: url(../img/footer/phone_icon.png) center no-repeat;
        border: 1px solid #ffffff;
    }

    a {
        color: #ffffff;
    }

    span {
        color: #ffffff;
    }
}