.landing {
    background: url(../img/bg.marble_white_1.png) bottom no-repeat;
    overflow: hidden;

    // Временно
    height: 600px;

    &-top {
        display: flex;
        justify-content: center;
    }

    &-middle {}

    &-bottom {}
}