@mixin fontGilroyRegular {
    font-family: 'Gilroy Regular','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin fontGilroyMedium {
    font-family: 'Gilroy Medium','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin fontGilroyBold {
    font-family: 'Gilroy Bold','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}