@import 'mixins.scss';

// VARS
$fontColorMain: #101010;
$fontColorAlt: #F5723C;

.partners {
    background: url(../img/bg_marble_black.jpg) bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;

    padding-right: 200px;
    padding-top: 95px;
    padding-bottom: 140px;

    &-wrapper {
        display: flex;
        justify-content: space-between;

    }

    &__header {
        flex-basis: 50%;

        h1 {
            margin: 0;
            margin-top: 30px;
            margin-bottom: 35px;

            @include fontGilroyMedium();
            font-size: 65px;
            line-height: 65px;
            color: #ffffff;

            span {
                color: $fontColorAlt;
            }
        }

        p {
            margin: 0;

            @include fontGilroyMedium();
            font-size: 20px;
            line-height: 30px;
            color: #ffffff;
        }

        a {
            display: inline-block;

            margin-top: 195px;

            svg {
                path {
                    fill: transparent;
                    transition: all 0.5s ease;
                }
            }

            &:hover {
                svg {
                    path {
                        fill: $fontColorAlt;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }

    &__cards {
        flex-basis: 50%;
        flex-shrink: 0;

        display: flex;
        flex-wrap: wrap;

        .partner-card {
            width: 280px;
            height: 197px;

            border: 1px solid #ffffff;

            display: flex;
            justify-content: center;
            align-items: center;

            &--white {
                background-color: #ffffff;
            }

            &--invisible {
                opacity: 0;
            }

            &--offset {
                position: relative;
                left: -280px;
            }
        }
    }

    @media (max-width: 1550px) {
        padding-right: 0px;
    }
}