.preloader-wrapper {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100vw;
    height: 100vh;

    background-color: #fafafa;

    &::before {
        content: '';

        position: absolute;
        top: 50%;
        left: 0;

        transform: translateY(-50%);

        width: 100%;
        height: 1px;

        background-color: #ebebeb;
    }
}


.preloader {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%);

            transform: translate(-50%, -50%);

    width: 248px;
    height: 248px;

    box-sizing: border-box;
    border: 1px solid #ebebeb;
    background-color: #fafafa;

    transition: all 0.5s ease;

    img {
        position: absolute;
        top: 50%;
        left: 50%;

        -webkit-transform: translate(-50%, -50%);

                transform: translate(-50%, -50%);

        width: 127px;
        height: 127px;
    }

    span {
        position: absolute;
        left: 50%;
        top: 50%;

        -webkit-transform: translate(-50%, -50%);

                transform: translate(-50%, -50%);

        font-size: 50px;
    }

    &__innerProgressBarLeft {
        position: absolute;

        top: 50%;
        left: 0;

        z-index: 1;

        transform: translateY(-50%);
    
        width: 0%;
        height: 1px;
    
        background-color: #f5723c;

        transition: all 0.5s ease;
    }

    &__innerProgressBarRight {
        position: absolute;

        top: 50%;
        right: 0;

        z-index: 1;

        transform: translateY(-50%);
    
        width: 0%;
        height: 1px;
    
        background-color: #f5723c;

        transition: all 0.5s ease;
    }
}

.preloader__deco-square {
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: translate(-50%, -50%) rotate(45deg);

            transform: translate(-50%, -50%) rotate(45deg);

    width: 248px;
    height: 248px;

    box-sizing: border-box;
    border: 1px solid #ebebeb;

    transition: all 0.5s ease;
}

.loading-done__deco {
    border: 1px solid #f5723c;
}

.preloader__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0%;
    height: 5px;

    background-color: #f5723c;

    -webkit-transition: all 0.5s ease;

    transition: all 0.5s ease;

    opacity: 1; //Временно
}

.preloader__after {
    position: fixed;
    left: 0;
    right: 0;
    top: 100%;
    bottom: 0;

    height: 100%;

    z-index: 101;

    background-color: #f5723c;

    transition: all 1s ease;
}

.loading-done {
    opacity: 0;
    visibility: hidden;

    -webkit-transition: all 0.5s ease;

    transition: all 0.5s ease;
}