.preloader-wrapper {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 100vw;
    height: 100vh;

    background-color: #fafafa;

    &::before {
        content: '';

        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        width: 100%;
        height: 1px;

        background-color: #ebebeb;
    }
}


.preloader {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 248px;
    height: 248px;

    box-sizing: border-box;
    border: 1px solid #ebebeb;
    background-color: #fafafa;

    img {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        width: 127px;
        height: 127px;
    }

    span {
        position: absolute;
        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);

        font-size: 50px;
    }
}

.preloader__deco-square {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) rotate(45deg);

    width: 248px;
    height: 248px;

    box-sizing: border-box;
    border: 1px solid #ebebeb;
}

.preloader__progress-bar {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 0%;
    height: 5px;

    background-color: #f5723c;

    transition: all 0.5s ease;
}

.loading-done {
    opacity: 0;
    visibility: hidden;

    transition: all 0.5s ease;
}