@import 'mixins.scss';

// VARS
$fontColorMain: #101010;
$fontColorAlt: #F5723C;

.presentation {
    position: relative;

    min-height: 700px;

    background-color: #f1f1f1;

    &-content {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        &__pattern {
            width: 380px;
            height: 350px;

            background-color: #fefefe;

            display: -webkit-box;

            display: flex;
            -webkit-box-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                    align-items: center;

            position: absolute;
            z-index: 2;

            bottom: -160px;
            right: -15px;

            @media (max-width: 1550px) {
                width: 330px;
                height: 300px;
            }

            @media (max-width: 992px) {
                width: 280px;
                height: 250px;

                bottom: -125px;
            }

            @media (max-width: 768px) {
                width: 237px;
                height: 235px;

                bottom: -305px;
                right: -80px;

                background-color: transparent;
            }

            img {
                @media (max-width: 1550px) {
                    width: 226px;
                    height: 224px;
                }

                @media (max-width: 992px) {
                    width: 196px;
                    height: 194px;
                }

                @media (max-width: 768px) {
                    width: 237px;
                    height: 235px;
                }
            }
        }
    }

    &-slider {
        max-width: 100%;
        height: auto;
    }
}

.slick-prev {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;

    width: 50%;
    height: 100%;

    background-color: transparent;

    cursor: none;

    @media (max-width: 768px) {
        display: none;
    }

    &::before {
        content: '';
    }
}

.slick-next {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;

    width: 50%;
    height: 100%;

    background-color: transparent;

    cursor: none;

    @media (max-width: 768px) {
        display: none;
    }

    &::before {
        content: '';
    }
}

.slide {
    position: absolute;

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        width: 100%;
        height: 700px;

        position: relative;

        img {
            width: 100%;
            height: 700px;

            object-fit: cover;
            object-position: center;
        }
    }

    &__number {
        position: absolute;
        left: 175px;
        top: 70px;
        color: #ffffff;

        display: flex;

        h1 {
            display: inline-block;

            margin: 0;

            @include fontGilroyMedium();
            font-size: 100px;
        }

        span {
            display: inline-block;

            width: 50px;
            height: 3px;

            background-color: #F5723C;

            margin-top: 35px;
            margin-left: 20px;
            margin-right: 15px;
        }

        p {
            display: inline-block;

            margin: 0;

            @include fontGilroyMedium();
            font-size: 50px;

            margin-top: 10px;
        }
    }

    &__name {
        position: absolute;

        width: 300px;
        height: 90px;

        position: absolute;

        bottom: 72px;
        left: 180px;

        background-color: #fefefe;

        padding-top: 25px;
        padding-left: 50px;

        @media (max-width: 1550px) {
            width: 250px;
            height: 71px;

            bottom: 92px;
        }

        @media (max-width: 1200px) {
            left: 100px;
        }

        @media (max-width: 768px) {
            left: 0;
            bottom: 0;

            width: 300px;
            height: 91px;
        }

        span {
            @include fontGilroyBold();
            font-size: 12px;
            line-height: 19px;
            text-transform: uppercase;
            letter-spacing: 0.2em;
        }

        .slide-progress {
            position: absolute;
            top: 0;
            left: 0;

            width: 0%;
            height: 4px;

            background-color: #F5723C;
        }
    }
}