@import 'mixins.scss';

// VARS
$fontColorMain: #101010;
$fontColorAlt: #F5723C;

.project {
    box-sizing: border-box;

    padding-right: 200px;

    background: url(../img/bg_marble_black.jpg) center no-repeat;

    background-size: cover;

    height: 1755px;

    padding-top: 90px;
    padding-bottom: 180px;

    &-wrapper {
        display: flex;
        justify-content: space-between;

        min-height: 1485px;
    }

    &__header {
        margin-top: 50px;
        margin-left: 10px;
        h1 {
            margin: 0;

            @include fontGilroyMedium();
            font-size: 58px;
            line-height: 60px;
            color: #ffffff;

            span {
                color: $fontColorAlt;
            }
        }

        a {
            display: inline-block;
            margin-top: 115px;
            margin-left: 15px;

            svg {
                path {
                    fill: transparent;
                    transition: all 0.5s ease;
                }
            }

            &:hover {
                svg {
                    path {
                        fill: #F5723C;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }

    &__items {
        position: relative;

        .project-card {
            max-width: 560px;
            min-height: 340px;

            box-sizing: border-box;

            border: 1px solid #ffffff;

            color: #ffffff;

            padding-left: 55px;
            padding-top: 55px;
            padding-right: 115px;
            margin-bottom: 40px;

            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 30px;
                right: 15px;

                width: 35px;
                height: 1px;

                background-color: #ffffff;

                transform: rotate(-45deg);
            }

            img {
                display: block;
            }

            h2 {
                margin-top: 20px;
                margin-bottom: 10px;
                @include fontGilroyBold();
                font-size: 24px;
                line-height: 39px;
            }

            p {
                margin: 0;
                @include fontGilroyMedium();
                font-size: 17px;
                line-height: 24px;
            }
        }

        .project-card--white {
            background-color: #ffffff;

            &::before {
                top: 75px;
                right: 0;
                width: 155px;
                background-color: $fontColorAlt;
            }

            h2 {
                color: $fontColorMain;
            }

            p {
                color: $fontColorMain;
            }
        }

        .project-link {
            position: absolute;
            bottom: -310;
            left: 0;

            width: 560px;
            min-height: 270px;

            box-sizing: border-box;

            background-color: #F5723C;

            display: flex;
            justify-content: center;
            align-items: center;
            

            a {
                text-decoration: none;
                position: absolute;
                width: 100%;
                height: 100%;

                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    @include fontGilroyBold();
                    font-size: 22px;
                    line-height: 39px;
                    color: #ffffff;

                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        top: 35px;
                        left: 0;

                        width: 97%;
                        height: 2px;

                        background-color: #ffffff;
                    }
                }

                svg {
                    transform: rotate(-90deg) scale(0.9);

                    margin-left: 40px;

                    transition: all 0.5s ease;

                    path {
                        fill: #ffffff;
                        stroke: #ffffff;
                    }
                }

                &:hover {
                    svg {
                        margin-left: 60px;

                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }
}