@import 'mixins.scss';

// VARS
$fontColorMain: #101010;
$fontColorAlt: #F5723C;

.project {
    box-sizing: border-box;

    padding-right: 200px;

    background: url(../img/bg_marble_black.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;

    min-height: 1755px;

    padding-top: 90px;

    @media (max-width: 1550px) {
        padding-right: 0px;
    }

    @media (max-width: 992px) {
        padding-top: 40px;
    }

    @media (max-width: 576px) {
        min-height: auto;
    }

    &-wrapper {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
                justify-content: space-between;
    }

    &__header {
        margin-top: 50px;
        margin-right: 10px;

        @media (max-width: 992px) {
            display: none;
        }

        h1 {
            margin: 0;

            @include fontGilroyMedium();
            font-size: 58px;
            line-height: 60px;
            color: #ffffff;

            @media (max-width: 1200px) {
                font-size: 52px;
            }

            span {
                color: $fontColorAlt;
            }
        }

        a {
            display: inline-block;
            margin-top: 115px;
            margin-left: 15px;

            svg {
                path {
                    fill: transparent;
                    -webkit-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                }
            }

            &:hover {
                svg {
                    path {
                        fill: #F5723C;
                        -webkit-transition: all 0.5s ease;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }

    &__items {
        position: relative;

        .project-card {
            max-width: 560px;
            min-height: 340px;

            border: 1px solid #ffffff;

            color: #ffffff;

            padding-left: 55px;
            padding-top: 55px;
            padding-right: 115px;
            padding-bottom: 25px;
            margin-bottom: 40px;

            position: relative;

            background-color: transparent;

            transition: all 0.3s ease;

            @media (max-width: 1200px) {
                padding-right: 45px;
            }

            @media (max-width: 576px) {
                padding-top: 30px;
                padding-left: 30px;
                padding-right: 30px;

                min-height: auto;
            }

            &::before {
                content: '';
                position: absolute;
                top: 30px;
                right: 15px;

                width: 35px;
                height: 1px;

                background-color: #ffffff;

                -webkit-transform: rotate(-45deg);

                        transform: rotate(-45deg);

                transition: all 0.3s ease;

                @media (max-width: 576px) {
                    display: none;
                }
            }

            svg {

                path {
                    transition: all 0.3s ease;
                }

                @media (max-width: 576px) {
                    transform: scale(0.8);
                }
            }

            h2 {
                margin-top: 20px;
                margin-bottom: 10px;
                @include fontGilroyBold();
                font-size: 24px;
                line-height: 39px;

                transition: all 0.3s ease;

                @media (max-width: 576px) {
                    font-size: 20px;
                    line-height: 24px;
                }
            }

            p {
                margin: 0;
                @include fontGilroyMedium();
                
                font-size: 17px;
                line-height: 22px;

                transition: all 0.3s ease;
            }

            &:nth-child(4) {
                margin-bottom: -90px;

                @media (max-width: 576px) {
                    margin-bottom: -50px;
                }
            }

            &:hover {
                background-color: #ffffff;

                transition: all 0.3s ease;

                &::before {
                    top: 75px;
                    right: 0;
                    width: 155px;
                    background-color: $fontColorAlt;

                    transition: all 0.3s ease;
                }

                h2 {
                    color: $fontColorMain;

                    transition: all 0.3s ease;
                }

                p {
                    color: $fontColorMain;

                    transition: all 0.3s ease;
                }

                svg {
                    path {
                        fill: #F5723C;

                        transition: all 0.3s ease;
                    }
                }
            }
        }

        .project-link {
            position: relative;
            bottom: -135px;
            left: 0;

            max-width: 560px;
            min-height: 270px;

            background-color: #F5723C;

            display: -webkit-box;

            display: flex;
            -webkit-box-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                    align-items: center;
            
            @media (max-width: 576px) {
                max-width: 100%;
                min-height: 170px;

                bottom: -85px;
            }

            a {
                text-decoration: none;
                position: absolute;
                width: 100%;
                height: 100%;

                display: -webkit-box;

                display: flex;
                -webkit-box-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                        align-items: center;

                @media (max-width: 576px) {
                    padding-left: 30px;
                    padding-right: 30px;
                }

                span {
                    @include fontGilroyBold();
                    font-size: 22px;
                    line-height: 39px;
                    color: #ffffff;

                    position: relative;

                    @media (max-width: 1200px) {
                        font-size: 20px;
                        line-height: 24px;
                    }

                    @media (max-width: 576px) {
                        text-decoration: underline;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        top: 35px;
                        left: 0;

                        width: 97%;
                        height: 2px;

                        background-color: #ffffff;

                        @media (max-width: 576px) {
                            display: none;
                        }
                    }
                }

                svg {
                    -webkit-transform: rotate(-90deg) scale(0.9);
                            transform: rotate(-90deg) scale(0.9);

                    margin-left: 40px;

                    -webkit-transition: all 0.5s ease;

                    transition: all 0.5s ease;

                    path {
                        fill: #ffffff;
                        stroke: #ffffff;
                    }

                    @media (max-width: 1200px) {
                        -webkit-transform: rotate(-90deg) scale(0.7);
                                transform: rotate(-90deg) scale(0.7);
                    }

                    @media (max-width: 576px) {
                        margin-left: 0px;
                    }
                }

                &:hover {
                    svg {
                        margin-left: 60px;

                        -webkit-transition: all 0.5s ease;

                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }
}