.scroll-indicator {
    position: fixed;
    z-index: 5;

    top: 0;
    left: 0;

    width: 5px;
    height: 100%;

    background-color: #ffffff;

    opacity: 1;

    transition: all 0.5s ease;

    &__progress {
        width: 5px;
        height: 0%;

        background-color: #F5723C;
    }

    @media (max-width: 768px) {
        display: none;
    }
}

.scroll-indicator--hidden {
    opacity: 0;

    transition: all 0.5s ease;

    @media (max-width: 768px) {
        display: none;
    }
}