.scroll-indicator {
    position: fixed;
    z-index: 5;

    top: 0;
    left: 0;

    width: 5px;
    height: 100%;

    background-color: #ffffff;

    &__progress {
        width: 5px;
        height: 0%;

        background-color: #F5723C;
    }
}