@import 'preloader.scss';
@import 'fonts.scss';
@import 'scroll-indicator.scss';
@import 'header.scss';
@import 'landing.scss';
@import 'presentation.scss';
@import 'features.scss';
@import 'project.scss';
@import 'guarantee.scss';
@import 'partners.scss';
@import 'faq.scss';
@import 'about.scss';
@import 'consulting.scss';
@import 'footer.scss';
@import 'mixins.scss';



// VARS
$fontColorMain: #101010;
$fontColorAlt: #F5723C;



.container {
    max-width: 1160px;

    margin: 0 auto;
    padding: 0 15px;
}

body {
    position: relative;

    padding-left: 200px;

    // cursor: url("../img/cursor/cursor.png"), default;
}

.body--lock {
    overflow: hidden;
}

// *, *:before, *:after {
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
// }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: flex-start;

    box-sizing: border-box;
    padding-top: 65px;
    padding-left: 70px;

    transition: all 0.5s ease;
    
    &-button {
        position: relative;

        z-index: 1;

        width: 50px;
        height: 50px;

        border: none;
        background-color: transparent;

        cursor: pointer;

        &::before, &::after {
            content: '';
            position: absolute;
            left: -10px;

            width: 70px;
            height: 2px;

            background-color: $fontColorMain;
        }

        &::before {
            top: 15px;

            transition: all 0.5s ease;
        }

        &::after {
            bottom: 15px;

            transition: all 0.5s ease;
        }
    }

    p {}

    &-list {
        list-style: none;

        margin: 0;
        padding: 0;

        &__item {
            @include fontGilroyBold();
            font-size: 13px;
            color: $fontColorMain;

            position: relative;
            z-index: 2;
            width: 50px;
            height: 50px;

            box-sizing: border-box;

            margin-bottom: 20px;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%) rotate(45deg);

                width: 50px;
                height: 50px;
                background-color: transparent;

                transition: all 0.5s ease;
            }

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%) rotate(45deg);

                width: 50px;
                height: 50px;
                border: 1px solid $fontColorAlt;

                opacity: 0;

                transition: all 0.1s ease;
            }

            &:hover {
                &::after {
                    opacity: 1;

                    transition: all 0.1s ease;
                }
            }

            a {
                position: absolute;
                z-index: 2;
                left: 0;
                top: 0;

                width: 100%;
                height: 100%;

                text-decoration: none;
                color: $fontColorMain;

                display: flex;
                justify-content: center;
                align-items: center;

                transition: all 0.5s ease;
            }
        }
    }

    &-background {
        position: absolute;

        z-index: 0;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        width: 100%;
        height: 100%;

        opacity: 0;

        transition: all 0.5s ease;

        background: url(../img/bg_marble_black.jpg) center no-repeat;
        background-size: cover;

    //     img {
    //         width: 100%;
    //         height: 100%;

    //         object-fit: cover;
    //     }
    }
}

.nav--open {
    width: 100%;

    background-color: #000000;

    transition: all 0.5s ease;

    .nav-button {
        &::before {
            left: -10px;
            top: 24px;
            transform: rotate(-45deg);
            background-color: #ffffff;

            transition: all 0.5s ease;
        }

        &::after {
            left: -10px;
            bottom: 24px;
            transform: rotate(45deg);
            background-color: #ffffff;

            transition: all 0.5s ease;
        }
    }

    .nav-list__item {

        a {

            color: #6C7072;
        }
    }

    .nav-background {
        opacity: 1;

        transition: all 1s ease;
    }

}

.selected-nav-item {
    &::before {
        background-color: $fontColorAlt;

        transition: all 0.5s ease;
    }

    a {
        color: #ffffff;

        transition: all 0.5s ease;
    }
}