@import 'preloader.scss';
@import 'cursor.scss';
@import 'fonts.scss';
@import 'scroll-indicator.scss';
@import 'header.scss';
@import 'presentation.scss';
@import 'features.scss';
@import 'project.scss';
@import 'guarantee.scss';
@import 'partners.scss';
@import 'faq.scss';
@import 'about.scss';
@import 'consulting.scss';
@import 'footer.scss';
@import 'burger-menu.scss';
@import 'modal.scss';
@import 'mixins.scss';



// VARS
$fontColorMain: #101010;
$fontColorAlt: #F5723C;



.container {
    max-width: 1160px;

    margin: 0 auto;
    padding: 0 15px;
}

body {
    position: relative;

    padding-left: 180px;

    overflow-x: hidden;

    cursor: none;

    @media (max-width: 1200px) {
        padding-left: 140px;
    }

    @media (max-width: 768px) {
        padding-left: 0px;

        cursor: auto;
    }
}

.body--lock {
    overflow: hidden;
}

*, *:before, *:after {
    box-sizing: border-box;
}

a, button, label {
    cursor: none;

    @media (max-width: 768px) {
        cursor: auto;
    }
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;
    
    width: 180px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.05);

    padding-top: 65px;

    -webkit-transition: all 0.3s ease;

    transition: all 0.3s ease;

    @media (max-width: 1200px) {
        width: 140px;

        padding-top: 45px;
    }

    @media (max-width: 768px) {
        display: none;
    }
    
    &-button {
        display: block;

        margin-bottom: 60px;
        margin-left: 65px;

        position: relative;

        z-index: 1;

        width: 50px;
        height: 50px;

        border: none;
        background-color: transparent;

        &:focus {
            outline: none;
        }

        @media (max-width: 1200px) {
            margin-left: 45px;
        }

        &::before, &::after {
            content: '';
            position: absolute;
            left: -10px;

            width: 70px;
            height: 2px;

            background-color: $fontColorMain;
        }

        &::before {
            top: 15px;

            -webkit-transition: all 0.5s ease;

            transition: all 0.5s ease;
        }

        &::after {
            bottom: 15px;

            width: 50px;

            -webkit-transition: all 0.5s ease;

            transition: all 0.5s ease;
        }

        &:hover {
            &::before {
                width: 50px;
            }

            &::after {
                width: 70px;
            }
        }

        &-caption {
            display: block;

            position: absolute;
            z-index: 2;
            top: 300px;
            left: 36px;

            opacity: 0;

            -webkit-transform: rotate(-90deg);

                    transform: rotate(-90deg);

            @include fontGilroyBold();
            font-size: 14px;
            color: #ffffff;
            text-transform: uppercase;

            pointer-events: none;

            @media (max-width: 1200px) {
                left: 16px;
            }
        }
    }

    &-caption {
        display: block;

        position: relative;
        text-align: center;

        p {
            display: inline-block;
            -webkit-transform: rotate(-90deg);
                    transform: rotate(-90deg);

            margin: 0;

            @include fontGilroyBold();
            font-size: 14px;
            line-height: 27px;
            color: $fontColorMain;
        }
    }

    &-list {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column;

        list-style: none;

        margin: 0;
        margin-top: 50px;
        margin-left: 65px;
        padding: 0;
        padding-left: 0;

        -webkit-transition: all 0.3s ease;

        transition: all 0.3s ease;

        @media (max-width: 1200px) {
            margin-left: 45px;
        }

        &__item {

            position: relative;
            z-index: 2;

            margin-bottom: 20px;

            -webkit-transition: all 0.5s ease;

            transition: all 0.5s ease;

            a {
                position: relative;

                width: 50px;
                height: 50px;

                text-decoration: none;

                display: -webkit-box;

                display: flex;
                -webkit-box-pack: center;
                        justify-content: center;
                -webkit-box-align: center;
                        align-items: center;

                -webkit-transition: all 0.3s ease;

                transition: all 0.3s ease;

                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
    
                    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    
                            transform: translate(-50%, -50%) rotate(45deg);
    
                    width: 50px;
                    height: 50px;
                    background-color: transparent;
    
                    -webkit-transition: all 0.3s ease;
    
                    transition: all 0.3s ease;
                }
    
                &::after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
    
                    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    
                            transform: translate(-50%, -50%) rotate(45deg);
    
                    width: 50px;
                    height: 50px;
                    border: 2px solid $fontColorAlt;
    
                    opacity: 0;
    
                    -webkit-transition: all 0.5s ease;
    
                    transition: all 0.5s ease;
                }

                &:hover {
                    &::after {
                        opacity: 1;
    
                        -webkit-transition: all 0.5s ease;
    
                        transition: all 0.5s ease;

                        transform: translate(-50%, -50%) rotate(90deg);
                    }
                }
                

                span {
                    position: relative;
                    z-index: 3;

                    @include fontGilroyBold();
                    font-size: 13px;
                    color: $fontColorMain;
                }
            }
        }

        .selected-nav-item {
            a {
                &::before {
                    border: 2px solid $fontColorAlt;
            
                    -webkit-transition: all 0.5s ease;
            
                    transition: all 0.5s ease;
                }
        
                span {
                    color: $fontColorMain;
            
                    -webkit-transition: all 0.5s ease;
            
                    transition: all 0.5s ease;
                }

                &:hover {
                    &::before {
                        transform: translate(-50%, -50%) rotate(90deg);

                        background-color: $fontColorAlt;
                        transition: all 0.5s ease;
                    }

                    span {
                        color: #ffffff;
                        transition: all 0.5s ease;
                    }
                }
            }

            .nav-text {
                &::before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    left: 0;
                    bottom: 8px;

                    width: 100%;
                    height: 22px;

                    background-color: #F5723C;
                }
            }            
        }
    }

    &-text {
        position: absolute;
        z-index: 1;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        opacity: 0;

        -webkit-transition: all 0.01s ease;

            transition: all 0.01s ease;

        &__link {
            position: relative;
            @include fontGilroyMedium();
            font-size: 100px;
            line-height: 78px;
            color: #ffffff;

            pointer-events: none;

            text-decoration: none;
            text-transform: uppercase;

            transition: all 0.3s ease;

            @media (max-width: 1200px) {
                font-size: 70px;
                line-height: 50px;
            }

            &:hover {
                svg {
                    text {
                        fill: transparent;
                        stroke: #F5723C;
                        transition: all 0.3s ease;
                    }
                }
            }

            svg {
                font: 100px 'Gilroy Bold';
                width: 540px;
                height: 80px;

                @media (max-width: 1200px) {
                    width: 460px;
                    height: 60px;
                }

                text {
                    fill: white;
                    stroke: white;
                    stroke-width: 2px;
                    transition: all 0.3s ease;
                }
            }

            &:nth-child(1) {
                left: 40px;

                @media (max-width: 1200px) {
                    left: -80px;
                }
            }
            &:nth-child(2) {
                left: 240px;

                @media (max-width: 1200px) {
                    left: 120px;
                }
            }
            &:nth-child(3) {
                left: -50px;

                @media (max-width: 1200px) {
                    left: -50px;
                }
            }
            &:nth-child(4) {
                left: 320px;

                @media (max-width: 1200px) {
                    left: 200px;
                }
            }
            &:nth-child(5) {
                left: 120px;

                @media (max-width: 1200px) {
                    left: 0px;
                }
            }
            &:nth-child(6) {
                left: 160px;

                @media (max-width: 1200px) {
                    left: 40px;
                }
            }
        }
    }

    &-background {
        position: absolute;

        z-index: 0;

        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        width: 100%;
        height: 100%;

        opacity: 0;

        -webkit-transition: all 0.5s ease;

        transition: all 0.5s ease;

        background: url(../img/bg_marble_black.jpg) center no-repeat;
        background-size: cover;

    //     img {
    //         width: 100%;
    //         height: 100%;

    //         object-fit: cover;
    //     }
    }

    &-phone {
        position: absolute;
        right: -850px;
        top: 75px;

        opacity: 0;

        pointer-events: none;

        &::before {
            content: '';
            position: absolute;

            top: 50%;
            left: -75px;
            -webkit-transform: translateY(-25px);
                    transform: translateY(-25px);

            width: 50px;
            height: 50px;

            background: url(../img/footer/phone_icon.png) center no-repeat;
            border: 1px solid #F5723C;
        }

        a {
            display: block;
            color: #ffffff;
            @include fontGilroyMedium();
            font-size: 22px;
            line-height: 22px;
            text-decoration: none;
        }

        span {
            color: #6C7072;
            @include fontGilroyMedium();
            font-size: 14px;
            line-height: 16px;
        }
    }
}

.nav--open {
    width: 100%;

    z-index: 10;

    background-color: #000000;

    -webkit-transition: all 0.3s ease;

    transition: all 0.3s ease;

    .nav-button {
        &::before {
            left: -10px;
            top: 24px;
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg);
            background-color: #ffffff;

            -webkit-transition: all 0.5s ease;

            transition: all 0.5s ease;

            width: 70px;
        }

        &::after {
            left: -10px;
            bottom: 24px;
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
            background-color: #ffffff;

            -webkit-transition: all 0.5s ease;

            transition: all 0.5s ease;

            width: 70px;
        }
    }

    .nav-button-caption {
        top: 200px;

        opacity: 1;

        pointer-events: all;

        -webkit-transition: all 0.5s ease;

        transition: all 0.5s ease;

        -webkit-transition-delay: 0.8s;

                transition-delay: 0.8s;

        @media (max-width: 1200px) {
            top: 175px;
        }
    }

    .nav-background {
        opacity: 1;

        -webkit-transition: all 1s ease;

        transition: all 1s ease;
    }

    .nav-list {
        opacity: 0;

        transition: all 0.01s ease;
    }

    .nav-text {
        opacity: 1;

        -webkit-transition: all 1s ease;
    
                transition: all 1s ease;

        transition-delay: 1s;

        a {
            pointer-events: all;
        }
    }
}



.nav-phone--active {
    opacity: 1;
    right: 50px;

    -webkit-transition: all 0.5s ease;

    transition: all 0.5s ease;

    pointer-events: all;
}

.nav-list--active {

    li {
        -webkit-transition: all 0.3s ease;

        transition: all 0.3s ease;
        -webkit-transition-delay: 0.3s;
                transition-delay: 0.3s;

        opacity: 0;

        pointer-events: none;
    }
}

.nav-text__link--selected {
    svg {
        text {
            fill: transparent;
            stroke: #F5723C;
            transition: all 0.3s ease;
        }
    }
}