@import 'preloader.scss';
@import 'fonts.scss';
@import 'scroll-indicator.scss';
@import 'header.scss';
@import 'landing.scss';
@import 'presentation.scss';
@import 'features.scss';
@import 'project.scss';
@import 'guarantee.scss';
@import 'partners.scss';
@import 'faq.scss';
@import 'about.scss';
@import 'consulting.scss';
@import 'footer.scss';
@import 'mixins.scss';



// VARS
$fontColorMain: #101010;
$fontColorAlt: #F5723C;



.container {
    max-width: 1160px;

    margin: 0 auto;
    padding: 0 15px;
}

body {
    position: relative;

    padding-left: 200px;

    // cursor: url("../img/cursor/cursor.png"), default;
}

// *, *:before, *:after {
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box;
// }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.nav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
    
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 4px 45px rgba(0, 0, 0, 0.05);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    &-button {
        position: absolute;
        top: 80px;
        left: 50%;

        transform: translateX(-50%);

        width: 70px;
        height: 20px;

        border: none;
        background-color: transparent;

        cursor: pointer;

        &::before, &::after {
            content: '';
            position: absolute;
            left: 0;

            width: 100%;
            height: 2px;

            background-color: #000000;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }
    p {}
    &-list {
        &__item {}
    }
}